/* General Styling */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
  }
  
  
  /* Tickets Display Container */
  .tickets-display {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
  }
  
  .image-container {
    margin-top: 5rem;
    position: relative;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    overflow: hidden;
    background: #fff;

  }
  
  .event-image {
    max-height: 400px;
    width: 100%;
    height: auto;
    border-bottom: 5px solid #ff6f61;
  }
  
  .ticket-info {
    padding: 20px;
    text-align: center;
    background-color: #f4f4f4;
    font-size: 18px;
    border-top: 2px solid #ccc;
  }
  
  .ticket-info p {
    margin: 10px 0;
    font-weight: bold;
    font-size: 20px;
  }
  
  /* Control Panel */
  .control-panel {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background-color: #fff;
    border-top: 2px solid #ccc;
  }
  
  .action-buttons button,
  .reset-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
  }
  
  .reset-button {
    background-color: #730e05;
    color: #fff;
    margin-left: -60px;
  }
  
  .reset-button:hover {
    background-color: #df1002;
    transform: scale(1.1);
  }
  
  .start-button {
    background-color: #a6440a;
    color: #fff;
    margin-left: 120px;
  }
  
  .start-button:hover {
    background-color: #cb4802;
    transform: scale(1.1);
  }
  
  .stop-button {
    background-color: #2f2f2f;
    color: #fff;
    margin-right: -60px;
    margin-left: 20px;
  }
  
  .stop-button:hover {
    background-color: #000000;
    transform: scale(1.1);
    
  }
  
  /* Responsive Design */
  @media screen and (max-width: 768px) {
    .tickets-display {
      flex-direction: column;
      padding: 20px;
    }
  
    .image-container {
      width: 95%;
    }
  
    .ticket-info {
      font-size: 16px;
    }
  
    .action-buttons button,
    .reset-button {
      font-size: 14px;
    }
  }
  